
#container {
	display: flex;
	align-items: stretch;
	height: 100%;
	flex-flow: column nowrap;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	min-height: 100vh; 
}
#rect1{
	background-color: red;
	flex-grow: 1;
}
#rect2{
	background-color: green;
	flex-grow: 2;
	
}
#rect3{
	background-color: yellow;
	flex-grow: 1;
}
#rect4{
	background-color: blue;
	flex-grow: 1;
}
#rect5{
	background-color: orange;
	flex-grow: 1;
}
