/*
** A ne pas modifier
*/

body>div {

	margin: 20px auto;
	width: 400px;
	text-align: justify;
	border: 2px solid black;
	padding: 10px;
}

table {

	border-collapse: collapse;
}

table tr td {

	padding: 5px;
	border: 1px solid black;
	text-align: center;
}

body>div>div {

	background: red;
	padding: 5px;
}

/*
** Compléter le fichier ici :
*/