/*
** A ne pas modifier
*/

body>div {

	margin: 20px auto;
	width: 400px;
	text-align: justify;
	border: 2px solid black;
	padding: 10px;
}

table {

	border-collapse: collapse;
}

table tr td {

	padding: 5px;
	border: 1px solid black;
	text-align: center;
}

body>div>div {

	background: red;
	padding: 5px;
}

/*
** Compléter le fichier ici :
*/
p+p  {
	font-style: italic;
	
}
i+p {
	color:blue;
}
td:nth-child(2n+2){
	background-color: yellow;
}

div:nth-child(2){
	background: green;
}

td:nth-child(2){
	background-color: brown;
	color:white;
}
tr:nth-child(2){
	background-color: brown;
	color:white;
}
body>div>div>div {

	background: green;
	padding: 10px;
}
